@import "./../../../styles/variables";
// @import "stylesheets/mixins";

.card {
  border-radius: $border-radius-base;
  box-shadow: 0 0 4px 2px rgba(89, 89, 89, 0.14);
  background-color: #FFFFFF;
  margin-bottom: 30px;
  border-radius: 2px;

  .image {
    width: 100%;
    overflow: hidden;
    height: 260px;
    border-radius: $border-radius-base $border-radius-base 0 0;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    img {
      width: 100%;
    }
  }
p {
    height: 280px;
    border-radius: $border-radius-base;

    &.map-big {
      height: 420px;
    }
  }
  .card-content {
    padding: $padding-default-horizontal;
  }
  .content-no-padding {
    padding: 0;

    .map {
      margin-top: $padding-default-horizontal;
      border-radius: 0;
    }
  }
  .content-full-width {
    padding: $padding-default-horizontal 0;
  }

  .card-header {
    padding: $padding-default-horizontal $padding-default-horizontal 0px;
    color: $black-color;
    font-weight: $font-weight-light;
    font-size: $font-size-h4;
    .icon {
      i {
        color: #4e4e4e;
        margin-right: 20px;
      }
    }

  }
  .category,
  .form-group > label {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $default-color;
    margin-bottom: 0px;

    &.error {
      text-transform: none;
      color: $danger-color;
    }
    i {
      font-size: $font-paragraph;
    }
  }

  .form-group > label {
    font-size: $font-size-small;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .title {
    margin: $none;
    color: $black-color;
    font-weight: $font-weight-light;
  }
  .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }
  .description {
    font-size: $font-size-base;
    color: #333;
  }
  .footer {
    padding: 0 $padding-default-horizontal $padding-default-vertical;
    background-color: $transparent-bg;
    line-height: 30px;

    .form-group label {
      margin-bottom: 0;
    }

    .legend {
      padding: 5px 0;
    }

    hr {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .stats {
    color: #a9a9a9;
  }
  /*
      .footer div{
          display: inline-block;
      }
  */

  .author {
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
  .author i {
    font-size: $font-size-base;
  }
  h6 {
    font-size: $font-size-small;
    margin: 0;
  }
  &.card-separator:after {
    height: 100%;
    right: -15px;
    top: 0;
    width: 1px;
    background-color: $medium-gray;
    content: "";
    position: absolute;
  }

  .ct-chart {
    margin: 30px 0 30px;
    height: 13em;
  }

  //custom properties for tables that are inside cards
  .table {
    margin-bottom: 0;

    tbody .bs-checkbox input,
    thead .bs-checkbox .th-inner {
      padding-left: 15px;
    }

    tbody td:last-child,
    thead th:last-child {
      padding-right: 15px;
    }

    tbody td.bs-checkbox:first-child {
      padding-left: 23px !important;
    }
  }

  .alert {
    border-radius: $border-radius-base;
    position: relative;

    &.alert-with-icon {
      padding-left: 65px;
    }
  }

  &.card-plain {
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;

    .image {
      border-radius: 4px;
    }
  }
  &.is-loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

}

.card-user {
  .image {
    height: 110px;
  }
  .image-plain {
    height: 0;
    margin-top: 110px;
  }
  .author {
    text-align: center;
    text-transform: none;
    margin-top: -70px;
  }
  .avatar {
    width: 124px;
    height: 124px;
    border: 5px solid #FFFFFF;
    position: relative;
    margin-bottom: 15px;

    &.border-gray {
      border-color: #EEEEEE;
    }
  }
  .title {
    line-height: 24px;
  }
  .card-content {
    min-height: 240px;
  }
}

.card-user,
.card-price {
  .footer {
    padding: 5px 15px 10px;
  }
  hr {
    margin: 5px 15px;
  }
}

.card-wizard {
  border-radius: $border-radius-extreme;

  .nav-pills {
    margin-left: -$padding-default-horizontal;
    margin-right: -$padding-default-horizontal;
    margin-top: 10px;
    margin-bottom: 10px;

    > li {

      > a {
        text-align: center;
        border: none;
        background-color: $dark-gray;
        color: $white-color;
        text-transform: uppercase;

        &:hover,
        &:focus {
          background-color: $dark-gray;
          outline: 0 !important;
        }
      }

      &:first-child > a,
      &:last-child > a {
        border-radius: 0;
      }
    }
  }

  .btn-finish {
    display: none;
  }

  .card-header {
    padding-top: ($padding-default-vertical + 15);
    padding-bottom: ($padding-default-vertical);
  }

  .footer {
    padding-bottom: ($padding-default-vertical + 5);
  }
}
