.page-header {
  background: #f9f9f9;
  margin: 0;
  padding: 20px 7%;
  border-bottom: solid 1px #e8e8e8;

  .page-header-title {
    line-height: 0;
    margin-top: 10px;
  }
  .page-header-desc {
    margin-top: 20px;
  }
  p {
    line-height: 20px;
  }

  @media all and (max-width: 500px) {
    .page-header-title {
      line-height: 20px;
      margin-top: 0;
    }
  }
}