.homepage {
  .hero-header {
    padding: 25px 75px;
    display: flex;
    align-items: center;
    background-image: url("/images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;

    .ant-card {
      max-height: 280px;
      min-height: 280px;
      overflow-y: auto;

      &:nth-of-type(2) {

        .ant-card-body {
          display: flex;
          flex-flow: column;
          align-items: center;
        }
      }
    }
    .overlay {
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      background: rgba(6, 6, 6, 0.14);
    }
  }

  .content {
    .card {
      height: 30vh;
      padding: 20px 60px;
    }
    .staff-card {
      .parent {
        display: flex;
        &:nth-last-of-type(1) {
          margin-top: 20px;
        }
      }
      .parent > div {
        flex: 1;

        &:first-of-type {
          margin-right: 30px;
        }
        &:nth-last-of-type(1) {
          margin-left: 30px;
        }
      }
      .btn {
        width: 100%;
      }
    }
  }
}