@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.img-circle {
  border-radius: 100px;
}

.display-flex {
  display: flex;

  &.flex-col {
    flex-flow: column;
  }
  &.flex-row {
    flex-flow: row;
  }
  &.align-center {
    align-items: center;
  }
  &.content-center {
    justify-content: center;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
}

.page {
  background-color: #fff;

  .page-content {
    padding: 5px;

    &.page-content-padding {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.footer {
  background-color: #e4e4e4;
  padding: 10px;
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  top: calc(100% - 50px);
}