$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

.page-order {

  .sidebar {

    .panel {
      background: #f7f7f7;
      border-radius: 4px;
      margin-bottom: 15px;
      border: 0;
      overflow: hidden;
    }
  }
}

.steps-content {
  margin-top: 16px;
  background-color: #fff;
  min-height: 200px;
  padding-top: 32px;
}

.steps-action {
  margin-top: 24px;
}

.order-autocomplete-wrapper {
  max-width: 524px;
  @media only screen and (min-width: $screen-tablet) {
    margin-left:200px;
  }
}


.order-general-label {
  height: 24px;
  font-size: 16px;
  color: rgba(0,0,0,0.25);
  font-weight: normal;
  line-height: 1.5;
}

.order-input-sm {
  height:40px;
  max-width: 202px;
  margin:12px 0;
}

.no-border {
  border:none;
}

.step-back-button {
  margin-left:8px;
}

.step-next-button {
  float:right;
}

.order-form-title {
  font-size:24px!important;
  font-weight: 500;
  color:rgba(0, 0, 0, 0.85);
}

.order-form-title-wrapper {
  margin-bottom:24px;
}

.order-group-title {
  font-size:18px!important;
  font-weight: 500;
  color:rgba(0, 0, 0, 0.85);
}

.order-group-title-wrapper {
  margin-bottom:12px;
}

.order-group-content-wrapper {
  max-width: 524px;
  margin-left:56px;
}

.order-section-title-wrapper {
  font-size: 14px;
  font-weight: 500;
  margin-bottom:12px;
  margin-left:56px;
  color: rgba(0, 0, 0, 0.85);
}

.order-textarea-wrapper {
  margin-left:56px;
  max-width: 523px;
  height:122px;
}

.order-form-wrapper{
  margin-left:24px;
  @media only screen and (min-width: $screen-tablet) {
    margin-left:200px;
  }
}

.step-icon {
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 32px;
  font-size: 16px;
  margin-right: 8px;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
  &.step-process {
    background-color:#1890ff;
    .step-text {
      color:#fff;
    }
  }
  &.step-wait {
    background-color:#fff;
    .step-text {
      color:rgba(0, 0, 0, 0.25);
    }
  }
  &.step-finish {
    border-color:#1890ff;
    background-color:#fff;
    .step-text {
      color:#1890ff;
    }
  }

}
