.nav {
  .ant-menu-horizontal {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 7%;

    .branding {
      display: inline-block;
      margin-right: 40px;

      img {
        height: 70px;
      }
      @media all and (max-width: 500px) {
        margin-right: 0;
      }
    }
    .ant-menu-submenu, .ant-menu-item {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .pull-left {
      margin-left: auto;
    }
  }
}