.grid-toolbar {
  height: 40px;
  background: #ffffff;
  border: solid 1px #ebeaeb;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.07);

  button {
    margin: 0 5px;

    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }

  p {
    padding: 0;
    margin: 0;
  }
}