.btn {
  border-radius: 3px;
  background-color: #484848;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  padding: 5px 0;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: #4f4f4f;
    color: #fff;
  }
  &:focus {
    background-color: #444444 !important;
    outline: none !important;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
  }

  &.btn-lg {
    min-width: 260px;
    padding: 13px 0;
  }
  &.btn-icon {
    position: relative;
    justify-content: center;
    flex-flow: space-around;

    svg {
      position: absolute;
      left: 20px;
    }
  }
}